html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

}





/* Reset and basic styling */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 90%;
  font-family: sans-serif;
  color:#2D2D2D;
  text-align: left;
}

main {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
}

/* Headings and text styles */

h1 {
  font-size: 3.75rem;
  margin: 8px;
  padding: 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-bottom: 24px;
  margin: 0;
}

h3 {
  font-size: 0.95rem;
  margin: 0;
  text-align: left;
}

h4 {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

p {
  font-size: 0.80rem;
  line-height: 20px;
  margin: 0;
  font-weight: 200;
}

img {
  max-width: 100%;
  height: auto;
}


strong {
  font-weight: 600;
}

/* Figure and image styling */

figure {
  margin: 0;
  display: inline-block;
  overflow: hidden;
}

figure img {
  width: 100%;
}

figcaption {
  text-align: center;
}

/* Links and lists */

a {
  text-decoration: none;
  color: #2D2D2D;
}

ul {
  list-style-type: none;
}

li {
  margin: 0;
  list-style: none;
}

label {
  font-size: 0.80rem;
  line-height: 5px;
  margin: 0;
  font-weight: 200;
  color: #2D2D2D;
  font-family: sans-serif;
  text-align: left;
}

/* Specific sections */

.sections {
  padding: 70px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the border style and color */
}

.centered-text {
  text-align: center;
  padding-bottom: 10px;
}

.container {
  margin: 0 auto;
}

/* Navigation styling */

.navigation {
  height: 72px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.nav-menu {
  position: fixed;
  display: none;
  top: 4rem;
  padding: 20px 0 20px 16px;
  flex-direction: column;
  background-color: #fff;
  width: 120px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu a {
  float: left;
  color: #2D2D2D;
  text-align: center;
  padding: 14px 16px;
  font-size: 1rem;
}

.nav-menu a:hover {
  background-color: #ddd;
  border-radius: 5%;
  color: #2D2D2D;
}

.nav-menu.active {
  right: 20px;
  display: block;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  height: 16px;
  width: 70px;
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
  height: 16px;
  line-height: 48px;
  margin: 0;
  white-space: nowrap;
  position: fixed;
  top: 14px;
  left: 32px;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 24px;
  right: 32px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
  background-color: #2D2D2D;
}

/* Sub-header styling */

.sub-header {
  margin: 0;
  padding: 70px 0 100px 0; /* Adjust the margin for mobile */
  text-align: center;
}

.sub-header h1 {
  margin: 0;
  line-height: 1; /* Add this line to set the line height to 1 */
}

.sub-header h1 span {
  display: block; /* Add this line to make the span a block-level element */
  font-size: 1.5rem;
  line-height: 3.5;
  margin: 0;
}

.abstract-figure {
  position: relative;
  top: 40px;
  margin-bottom: 40px;
  width: 250px;
  height: auto;
  margin: 0 auto; /* Center the element horizontally */
}

.sara {
  position: relative;
  left: 50%; /* Move to the horizontal center */
  transform: translateX(-50%); /* Adjust to center the element */
  width: 90%; /* Adjust the size for mobile */
  height: auto;
}

.text {
  width: 90%; /* Adjust the size for mobile */
  margin: 0 auto;
}

.text p {
  padding: 5px 0;
}

.text br {
  display: block; /* Ensures the break is treated as a block element */
  content: "\00a0"; /* Add non-breaking space as content */
  margin-top: 10px;
  line-height: 1;
}

.about-me_content h3 {
  font-size: 1rem;
  padding-bottom: 0;
  text-align: center;
}

.about-me_content h4 {
  font-weight: 700;
}

/* Skills styling */

.skills-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.skills-container {
  width: 150px;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.skills-container p {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.skills-container h3 {
  text-align: center;
}

.shape-and-arrow {
  width: 100px;
  height: auto;
  max-height: 100px;
  position: relative;
  left: 50%; /* Move to the horizontal center */
  transform: translateX(-50%); /* Adjust to center the element */
}

/* Work styling */

.work-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.work-container {
  width: 220px;
  height: auto;
  flex-wrap: wrap;
  padding: 4px;
  overflow: visible;
}

.work-container p {
  text-align: left;
}

.work-img {
  width: 100%;
  height: auto;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-bottom: 10px;
}

/* Education styling */

.edu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.edu-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.edu-container {
  width: 320px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.edu-img {
  width: 20%;
  height: auto;
  padding-right: 24px;
}

/* Footer styling */

#contact {
  padding-bottom: 15px;
}

.footer-top {
  display: block;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 0px;
}

.footer-top h2 {
  padding-bottom: 16px;
  margin: 0 auto;
  max-width: 90%;
}

.footer-top h3 {
  text-align: center;
  font-weight: 300;
  padding-bottom: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.text-fields {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.write-something {
  background-color: #ddd;
  color: #2D2D2D;
  line-height: 20px;
  font-size: 0.80rem;
  margin: 0;
  font-weight: 200;
  padding: 0 0 0 10px;
  position: relative;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.write-something-1 {
  background-color: #ddd;
  color: #2D2D2D;
  line-height: 20px;
  font-size: 0.80rem;
  margin: 0;
  font-weight: 200;
  padding: 0 0 0 10px;
  position: relative;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding-top: 10px;
  height: 100px;
}

.button {
  align-items: center;
  color: white;
  font-weight: 200;
  background-color: #2D2D2D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 50%;
  height: 40px;
}

.button:hover {
  color: white;
  background-color: #ddd;
}

.icons {
  width: auto;
  height: 25px;
  padding-right: 12px;
  text-align: center;
  margin: 0 auto;
}

.footer-bottom {
  display: block;
  flex-direction: column;
  justify-content: left;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the border style and color */
  text-align: center;
}

.footer-bottom p {
  font-size: 0.7rem;
}

.footertop-left {
  margin-bottom: 32px;
}

.footer-right a {
  margin: 4px;
}

footer a:hover {
  background-color: #ddd;
  border-radius: 10%;
  color: #2D2D2D;
}

@media only screen and (min-width: 550px) {

  .sara,
  .text {
    width: 50%;
  }

}


@media only screen and (min-width: 870px) {
  
  body {
    max-width: 75%;
  }
  
  h1 {
    font-size: 5rem;
    margin: 20px 0 20px 0;
  }
  
  h2 {
    font-size: 2rem;
    margin: 20px 0;
    transform: none;
  }
  
  h3 {
    font-size: 1.3rem;
    margin: 0;
    text-align: left;
  }
  
  h4 {
    font-size: 1.15rem;
    margin: 0;
    text-align: left;
  }
  
  p {
    font-size: 1rem;
    line-height: 28px;
    margin: 0;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 24px;
    top: 0;
    padding: 0;
    box-shadow: none;
  }

  .nav-menu.active {
    right: 32px;
    display: flex;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    width: 70px;
  }

  .hamburger {
    right: 32px;
    display: none;
  }
  
  .hamburger {
    right: 32px;
  }
  
  .sub-header {
    padding-top: 190px;
    text-align: left;
  }

  .sub-header h3 {
    text-align: left;
  }
  
  .abstract-figure {
    position: absolute;
    right: 10%;
    top: 13rem;
    width: 300px;
    transform: none;
  }
  
  .sara {
    width: 90%;
    transform: none;
    left: 0;
  }
  
  .text {
    width: 50%;
    transform: none;
  }

  .about-me_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .about-me_content h3 {
    margin: 0;
    text-align: left;
  }

  .photo-sara-and-name {
    width: 50%;
  }

  .skills-content {
    gap: 0 2%;
  }

  .skills-container {
    width: 250px;
  }

  .work-content {
    gap: 20px 100px;
  }

  .work-img {
    width: 100%;
  }

  .centered-text {
    text-align: left;
  }

  .work-container {
    width: 270px;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 20px;
  }

  .footer-top h2,
  .footer-top h3 {
    text-align: left;
    margin: 0;
  }

  .button {
    width: 30%;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}