:root {
  /* Fonts */
  --font-primary: 'Epilogue', sans-serif;

  /* Blueish Purple */
  --blueish-purple-1: #EAEEFD;
  --blueish-purple-2: #BAC7F7;
  --blueish-purple-3: #758FF0;
  --blueish-purple-4: #5A70C4;
  --blueish-purple-5: #41559F;

  /* Lilac */
  --lilac-1: #F2EFFC;
  --lilac-1-2: #e8e4f3;
  --lilac-2: #D7CDF5;
  --lilac-3: #BFAEF2;
  --lilac-4: #A18AE5;
  --lilac-5: #5D3DBC;

  /* Pink */
  --pink-1: #FFE9F5;
  --pink-2: #FFC8E5;
  --pink-3: #FFA4D3;
  --pink-4: #E667A8;
  --pink-5: #B52E73;

  /* Red */
  --red-1: #FCE3DD;
  --red-2: #FABBAA;
  --red-3: #F67755;
  --red-4: #D15433;
  --red-5: #D15433;

  /* yellow */
  --yellow-1: #FFF0D9;
  --yellow-2: #FFD495;
  --yellow-3: #FFAA2B;
  --yellow-4: #F39F22;
  --yellow-5: #C37E16;
  
  /* green */
  --green-1: #D8F1EF;
  --green-2: #80E3DF;
  --green-3: #00C7BE;
  --green-4: #13A6A0;
  --green-5: #146965;

  /* grey */
  --white: rgba(255, 255, 255, 1);
  --light-grey: #E0E0E0;
  --grey: #999895;
  --dark-grey: #2E333B;

}

/* Reset and basic styling */

* {
  box-sizing: border-box;
}

html {
  background-color: var(--white);
  scroll-behavior: smooth;
  cursor: url('/public/assets/svg/cursor.svg') 8 8, auto;
}
  
body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  min-width: 320px;
  max-width: 90%;
  font-family: var(--font-primary);
  color: var(--dark-grey);
  text-align: left;
  cursor: url('/public/assets/svg/cursor.svg') 8 8, auto;
}

main {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5;
}

/* Headings and text styles */

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  position: relative;
  padding-bottom: 24px;
  margin: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

h4 {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

p {
  font-size: 1rem;
  line-height: 24px;
  margin: 0;
  font-weight: 200;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 500;
}

/* Figure and image styling */

figure {
  margin: 0;
  display: inline-block;
  overflow: hidden;
}

figure img,
figure svg {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

/* Links and lists */

a {
  text-decoration: none;
  color: var(--lilac-5);
}

a:hover {
  cursor: url('/public/assets/svg/cursor-hover.svg') 8 8, auto;
}

ul {
  padding-inline-start: 0; /* Remove the left padding */
  list-style-type: none; /* Optional: remove bullet points if desired */
}

li {
  margin: 0;
  list-style: none;
}

label {
  font-size: 0.80rem;
  line-height: 5px;
  margin: 0;
  font-weight: 200;
  color: var(--dark-grey);
  text-align: left;
}

/* Specific sections */

.tag {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--lilac-1);
  color: var(--lilac-5);
  border-radius: 8px;
  margin: 0 auto;
  width: auto;
}

.tag:hover {
  background-color: var(--lilac-1-2);
  color: var(--lilac-5);
}

.tag-container {
  display: flex;
  justify-content: center;
  margin: 8px 0 40px 0;
}

.sections {
  padding: 70px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the border style and color */
}

.centered-text {
  text-align: center;
  padding-bottom: 10px;
}

.container {
  margin: 0 auto;
}

.text {
  width: 90%; /* Adjust the size for mobile */
  margin: 0 auto;
}

.text p {
  padding: 5px 0;
}

.text br {
  display: block; /* Ensures the break is treated as a block element */
  content: "\00a0"; /* Add non-breaking space as content */
  margin-top: 10px;
  line-height: 1;
}


@media only screen and (min-width: 870px) {
  
  body {
    max-width: 75%;
  }
  
  h1 {
    font-size: 3rem;
    margin: 20px 0 20px 0;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  h3 {
    font-size: 1.3rem;
    margin: 0;
    text-align: left;
  }
  
  h4 {
    font-size: 1.15rem;
    margin: 0;
    text-align: left;
  }
  
  p {
    font-size: 1rem;
    line-height: 28px;
    margin: 0;
  }
  
  .text {
    width: 50%;
    transform: none;
  }

  .photo-sara-and-name {
    width: 50%;
  }

  .centered-text {
    text-align: left;
  }
}