---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
    <main>
        <div class="tag-container">
            <a href="https://www.linkedin.com/sarabicudo" class="tag" target="_blank">Download Resume</a>
        </div>
        <div class="about-me_content">
          <div class="photo-sara-and-name">
              <figure class="sara">
                  <img src="/assets/img/sara.png" alt="Portrait picture of Sara Bicudo" />
                  <figcaption class="centered-text">
                      <h3>Sara Silva de Almeida Bicudo</h3>
                      <p>22 years old</p>
                  </figcaption>
              </figure>
          </div>
          <div class="text">
              <h4>Bio:</h4>
              <p>"I am a highly motivated, proactive, dedicated, and <strong>critically minded</strong> person.</p>
              <p>I completed the <strong>UX/UI Design</strong> course at the Lisbon School of Design and am about to finish the Postgraduate Degree in <strong>Digital Experience Design</strong> at the Faculty of Fine Arts of the University of Lisbon. Currently, as the Human Resources Coordinator at ESN Lisboa, I incorporate <strong>human and organizational aspects</strong> into my approach to the digital world.</p>
              <p>My motivation stems from a <strong>passion for digital design</strong> and a commitment to <strong>humanize technology</strong>, aiming to create meaningful experiences for users.</p>
              <p>Come discover how my experience and skills can <strong>meet your needs</strong>!"</p>
          </div>
      </div>
    </main>
    <style>
        .sara {
            position: relative;
            left: 50%; /* Move to the horizontal center */
            transform: translateX(-50%); /* Adjust to center the element */
            width: 90%; /* Adjust the size for mobile */
            height: auto;
        }
    
        .about-me_content h3 {
            font-size: 1rem;
            padding-bottom: 0;
            text-align: center;
        }
    
        .about-me_content h4 {
            font-weight: 700;
        }
        
        @media only screen and (min-width: 550px) {
    
            .sara,
            .text {
                width: 50%;
            }
            }
    
        @media only screen and (min-width: 870px) {
    
            .sara {
                width: 90%;
                transform: none;
                left: 0;
            }
    
            .text {
            width: 50%;
            transform: none;
            }
    
            .about-me_content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
            }
    
            .about-me_content h3 {
                margin: 0;
                text-align: left;
            }
        }
    </style>
</BaseLayout>