---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from '../components/Social.astro';
const pageTitle = "Contact";
const hidePageTitle = true;
---
<BaseLayout pageTitle={pageTitle} hidePageTitle={hidePageTitle}>
    <p>This is where I will put my contact info.</p>
    <main class="contact">
        <div>
            <h2 style="font-weight:600">Let's Work Together</h2>
            <h3 style="color: var(--grey)">Fill this form to contact me and start working with me!</h3>
            <Social/>
        </div>
        <div class="text-fields">
            <label for="name">Name</label>
            <input id="name" class="write-something" placeholder="Ex: Sara Bicudo" type="text">
            <label for="email">Email</label>
            <input id="email" class="write-something" placeholder="Ex: bicudo.sara@gmail.com" type="email">
            <label for="message">Message</label>
            <textarea id="message" class="write-something-1" placeholder="Start typing your message here..."></textarea>
            <a class="button" href="javascript:SubmitForm('form1')">Submit</a>
        </div>
    </main>
    <style>
        .contact {
        display: block;
        flex-direction: column;
        justify-content: left;
        gap: 16px;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 5rem;
        }

        .contact h2 {
        padding-bottom: 16px;
        margin: 0 auto;
        max-width: 90%;
        }

        .contact h3 {
        text-align: center;
        font-weight: 300;
        padding-bottom: 20px;
        max-width: 90%;
        margin: 0 auto;
        }

        .text-fields {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        }

        .write-something {
        background-color: var(--lilac-1);
        color: var(--lilac-5);
        line-height: 20px;
        font-size: 0.80rem;
        margin: 0;
        font-weight: 200;
        padding: 0 0 0 10px;
        position: relative;
        font-family: var(--font-primary);
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        }

        .write-something-1 {
        background-color: var(--lilac-1);
        color: var(--lilac-5);
        line-height: 20px;
        font-size: 0.80rem;
        margin: 0;
        font-weight: 200;
        padding: 0 0 0 10px;
        position: relative;
        font-family: var(--font-primary);
        border: none;
        border-radius: 5px;
        width: 100%;
        padding-top: 10px;
        height: 100px;
        }

        .button {
        align-items: center;
        color: var(--white);
        font-weight: 200;
        background-color: var(--lilac-4);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 50%;
        height: 40px;
        }

        .button:hover {
        background-color: var(--lilac-5);
        }
        
        @media only screen and (min-width: 870px) {
    
            .contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            padding-bottom: 20px;
            }

            .contact h2,
            .contact h3 {
                text-align: left;
                margin: 0;
            }

            .button {
                width: 30%;
            }
        }
    </style>
</BaseLayout>