---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Education";
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will put my education.</p>
    <main class="container">
        <h2>Education</h2>
        <ul class="edu-content">
            <li class="edu-container">
                <figure class="edu-img">
                    <img src="/img/education-card-icon.svg" alt="Faculdade de Belas-Artes' Logo in Yellow" />
                </figure>
                <div>
                    <h3>Digital Experience Design</h3>
                    <h4>PG Course 2023/2024</h4>
                    <p>Faculdade de Belas-Artes da UL</p>
                </div>
            </li>
            <li class="edu-container">
                <figure class="edu-img">
                    <img src="/img/education-card-icon-1.svg" alt="Lisbon School of Design's Logo in Lilac" />
                </figure>
                <div>
                    <h3>UX/UI Design</h3>
                    <h4>Course 2023</h4>
                    <p>Lisbon School of Design</p>
                </div>
            </li>
            <li class="edu-container">
                <figure class="edu-img">
                    <img src="/img/education-card-icon-2.svg" alt="Universidade Católica Portuguesa's Logo in Green" />
                </figure>
                <div>
                    <h3>Media Studies</h3>
                    <h4>Bachelors' Degree 2020/2023</h4>
                    <p>Faculty of Human Sciences of UCP</p>
                </div>
            </li>
            <li class="edu-container">
                <figure class="edu-img">
                    <img src="/img/education-card-icon-3.svg" alt="Università La Sapienza's Logo in Red" />
                </figure>
                <div>
                    <h3>Corporate Communication</h3>
                    <h4>Erasmus Studies 2022</h4>
                    <p>La Sapienza Università di Roma</p>
                </div>
            </li>
        </ul>
    </main>
</BaseLayout>