---
import BaseLayout from '../layouts/BaseLayout.astro';
import SaraBicudoMobile from "/assets/svg/sara_bicudo_thin.svg?raw"
import SaraBicudoDesktop from "/assets/svg/sara_bicudo_wide.svg?raw"
import Illustration from "/assets/svg/illustration.svg?raw"
const pageTitle = "Home Page";
---

<BaseLayout>
    <main>
      <section class="sub-header">
        <h1><span>Hello, I'm</span></h1>
        <Fragment set:html={SaraBicudoDesktop}/>
        <Fragment set:html={SaraBicudoMobile}/>
        <h1><span>A Digital Designer based in Lisbon</span></h1>
        <Fragment set:html={Illustration}/>
    </section>
    </main>
</BaseLayout>
