---
import BaseLayout from '../layouts/BaseLayout.astro';
import SaraBicudoMobile from "/assets/svg/sara_bicudo_thin.svg?raw"
import SaraBicudoDesktop from "/assets/svg/sara_bicudo_wide.svg?raw"
const pageTitle = "Home Page";
const hidePageTitle = true;
---

<BaseLayout pageTitle={pageTitle} hidePageTitle={hidePageTitle}>
  <Fragment slot="head">
    <style>
      h2 {
        text-align: left;
        margin: 0 0 8px 0;
      }
  
      .intro h3 {
        margin: 40px 0 40px 0;
        display: flex;
        justify-content: left;
      }
  
      p {
        margin-top: 40px;
        text-align: center;
      }
      
      .illustration {
        display: block;
        display: flex;
        justify-content: center;
      }

      .illustration svg {
        width: 400px;
      }
  
      .intro {
        margin: 0 auto;
        width: 80%
      }
  
      .sub-header {
        padding: 120px 0 40px 0;
        margin: 0 auto;
      }
  
      .name p {
        display: none;
      }

      .animated-title {
        padding: 0 8px;
        font-weight: 500;
      }

      #rotating-star {
          animation: rotate 24s linear infinite;
          transform-origin: 319.205px 237.5px; /* Coordinates for the center of the star */
      }

      #rotating-ellipse {
          animation: rotate 10s linear infinite;
          transform-origin: 142px 107px; /* Coordinates for the center of the ellipse */
      }

      #sparkling-star {
          animation: sparkle 2s ease-in-out infinite;
      }

      @keyframes rotate {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }

      @keyframes sparkle {
          0% { opacity: 1; }
          20% { opacity: 0.8; }
          40% { opacity: 0.5; }
          50% { opacity: 0; }
          60% { opacity: 0.5; }
          80% { opacity: 0.8; }
          100% { opacity: 1; }
      }

      .animated-title span:before {
        content: 'Digital Designer';
        animation: word-switch 3s infinite;
      }

      @keyframes word-switch {
        0% { content: 'Digital Designer'; color: var(--pink-5); }
        33% { content: 'UX/UI Designer'; color: var(--green-5); }
        66% { content: 'HR Specialist'; color: var(--yellow-5); }
        100% { content: 'Digital Designer'; color: var(--pink-5)}
      }
  
      @media (max-width: 870px) {
        .hide-desktop {
            display: none;
        }
        .hide-mobile {
          display: block;
          margin: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          height: auto;
        }
      }
    
      @media (min-width: 871px) {
        .hide-mobile {
          display: none;
        }
        .hide-desktop {
          display: block;
          margin-top: 40px;
          margin-bottom: 40px;
          height: auto;
          margin: 0 auto;
        }
  
        .illustration {
          top: 40px;
          margin-bottom: 20px;
        }
        .intro h2,
        .intro h3 {
          justify-content: center;
        }
      }
    </style>
  </Fragment>
  <main class="sub-header">
    <section class="intro">
      <h2>Hello, I'm</h2>
      <figure class="hide-desktop" aria-labelledby="sara bicudo text black, grey and lilac text illustration">
          <Fragment set:html={SaraBicudoDesktop}/>
      </figure>
      <figure class="hide-mobile" aria-labelledby="sara bicudo text black, grey and lilac text illustration">
          <Fragment set:html={SaraBicudoMobile}/>
      </figure>
      <h3 style="font-weight:300">A <span class="animated-title"><span></span></span> based in Lisbon</h3>
    </section>
    <figure class="illustration" aria-labelledby="lilac, green, yellow and pink shapes all mixed together">
      <svg aria-label="pink, lilac, green and yellow geometric shapes all mixed together" width="482" height="400" viewBox="0 0 482 400" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="319.5" cy="237.5" r="162.5" fill="#FFE6BF"/>
        <path id=rotating-star d="M319.205 103L344.527 171.426L408.383 135.202L383.801 203.897L456 217.197L393.017 254.019L439.776 310.62L367.862 298.338L367.303 371.756L320.107 316.118L272.49 372L272.097 299.039L199.704 311.237L246.296 255.092L183 217.899L254.778 204.842L230.195 135.66L293.572 171.8L319.205 103Z" fill="#FFA4D3"/>
        <circle cx="142.5" cy="107.5" r="107.5" fill="#00C7BE"/>
        <path id="rotating-ellipse" d="M160.928 72.0885C201.707 93.6458 226.478 126.868 216.252 146.29C206.025 165.713 164.674 163.982 123.892 142.421C83.1127 120.864 58.3419 87.6421 68.5686 68.2194C78.7952 48.7966 120.146 50.5281 160.928 72.0885Z" fill="#D7CDF5"/>
        <ellipse cx="67.5" cy="310" rx="67.5" ry="67" fill="#FFE6BF"/>
        <path id="sparkling-star" d="M75.8547 300.317L67.0344 270L58.659 299.795L58.3653 300.84L57.3169 301.145L27 309.966L56.7955 318.341L57.8402 318.635L58.1452 319.683L66.9657 350L75.3412 320.205L75.6349 319.16L76.6834 318.855L107 310.034L77.2047 301.659L76.1599 301.365L75.8547 300.317Z" fill="#FFAA2B"/>
        </svg>
    </figure>
    <p>Irreversibly <strong style="color: var(--pink-5)">passionate</strong> for bringing <br> a <strong style="color: var(--yellow-5)">human</strong> perspective into the <strong style="color: var(--lilac-5)">digital</strong> <strong style="color: var(--green-5)">world</strong>.</p>
    </main>
</BaseLayout>
