---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Skills";
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will put my skills.</p>
    </main>
        <h2>My Skills</h2>
        <ul class="skills-content">
            <li class="skills-container">
                <figure class="shape-and-arrow">
                    <img src="/img/skills-card-icon.svg" alt="Pink door shape with black arrow inside" />
                </figure>
                <h3>UX/UI Design</h3>
                <p>Figma (Wireframing & Prototyping), HTML & CSS.</p>
            </li>
            <li class="skills-container">
                <figure class="shape-and-arrow">
                    <img src="/img/skills-card-icon-1.svg" alt="Orange quarter of a circle with a black arrow on it" />
                </figure>
                <h3>Graphic Design</h3>
                <p>Canva, Photoshop, Illustrator & Lightroom.</p>
            </li>
            <li class="skills-container">
                <figure class="shape-and-arrow">
                    <img src="/img/skills-card-icon-2.svg" alt="Green shape with a black arrow on it" />
                </figure>
                <h3>Languages</h3>
                <p>Portuguese, French, English, Italian & Spanish.</p>
            </li>
        </ul>
    </main>
</BaseLayout>