---
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
    <div class="footer-bottom">
      <p class="footer-left">Copyright © 2024 Sara Bicudo</p>
      <p class="footer-right"><a href="/" target="_blank">All Rights Reserved</a><span>|</span><a href="/" target="_blank">Terms and Conditions</a><span>|</span><a href="/" target="_blank">Privacy Policy</a></p>
  </div>
</footer>
