---
---
<header>
  <style>
    .hamburger {
      display: block;
      cursor: pointer;
      position: fixed;
      top: 24px;
      right: 32px;
      z-index: 1000; /* Ensure it's above other content */
    }

    .line {
      display: block;
      width: 40px;
      height: 5px;
      margin-bottom: 10px;
      background-color: #ff9776; /* Adjust color as needed */
      transition: background-color 0.3s ease;
    }

    .hamburger.active .line:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    @media only screen and (min-width: 870px) {
      .hamburger {
        display: none;
      }
    }
  </style>
</head>
<div class="hamburger" onclick="toggleMenu()">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>