---
---
<header>
    <style>
        .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: inherit;
        }

        .nav-menu {
        position: fixed;
        display: none;
        top: 4rem;
        padding: 20px 0 20px 16px;
        flex-direction: column;
        background-color: var(--white);
        width: 120px;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        }

        .nav-menu a {
        float: center;
        color: var(--dark-grey);
        text-align: center;
        padding: 16px 16px;
        font-size: 1rem;
        }

        .nav-menu a:hover {
        background-color: var(--light-grey);
        border-radius: 5%;
        color: var(--dark-grey);
        }

        .nav-menu.active {
        right: 20px;
        display: block;
        padding: 20px;
        justify-content: center;
        width: 140px;
        }

        .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        height: 40px;
        width: 100%;
        }

        .logo {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 48px;
        margin: 0;
        position: fixed;
        left: 32px;
        }

        @media only screen and (min-width: 870px) {
            .nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            top: -0.5rem;
            right: 24px;
            padding: 8px;
            box-shadow: none;
            width: auto;
            position: fixed;
            background-color: transparent;
            }

            .nav-menu.active {
            right: 32px;
            display: flex;
            width: auto;
            margin: 8px;
            }

            .nav-item {
            margin: 0;
            width: auto;
            height: 40px;
            }

            .nav-link {
            width: auto;
            height: 40px;
            }
        }
    </style>
</header>

<nav class="navbar">
    <a href="/" class="logo">My Portfolio</a>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/skills/" class="nav-link">Skills</a></li>
        <li class="nav-item"><a href="/latest-work/" class="nav-link">Work</a></li>
        <li class="nav-item"><a href="/edu/" class="nav-link">Education</a></li>
        <li class="nav-item"><a href="/contact/" class="nav-link">Contact</a></li>
    </ul>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        const navMenu = document.querySelector(".nav-menu");
        
        hamburger.addEventListener("click", mobileMenu);
        
        function mobileMenu() {
            hamburger.classList.toggle("active");
            navMenu.classList.toggle("active");
        }

        const navLink = document.querySelectorAll(".nav-link");
        
        navLink.forEach(n => n.addEventListener("click", closeMenu));
        
        function closeMenu() {
            hamburger.classList.remove("active");
            navMenu.classList.remove("active");
        }
    });
</script>