---
import Logo from "/public/assets/svg/logo.svg?raw"
---
<Fragment slot="head">
    <style>
        .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: inherit;
        }

        .nav-menu {
        position: fixed;
        display: none;
        top: 4rem;
        padding: 20px 0 20px 16px;
        flex-direction: column;
        background-color: var(--white);
        width: 120px;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        }

        .nav-menu a {
        float: center;
        color: var(--dark-grey);
        text-align: center;
        padding: 16px 16px;
        font-size: 1rem;
        }

        .nav-menu a:hover {
        background-color: var(--light-grey);
        border-radius: 5%;
        color: var(--dark-grey);
        }

        .nav-menu.active {
        right: 20px;
        display: block;
        padding: 20px;
        justify-content: center;
        width: 140px;
        }

        .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        height: 40px;
        width: 100%;
        }

        .logo {
        margin: 0;
        position: fixed;
        left: 32px;
        height: 40px;
        width: auto;
        display: inline-block;
        display: flex;
        align-items: center;
        gap: 16px;
        }

        /* Styling and animation for the left side */
        .left {
            transition: transform 0.3s ease;
        }

        /* Styling and animation for the right side */
        .right {
            transition: transform 0.3s ease;
        }

        svg {
            width: 40px;
            height: 40px;
            transition: width 0.3s ease;
        }

        /* Hover effect to separate the sides */
        .logo:hover .left {
            transform: translateX(-16px);
        }

        .logo:hover .right {
            transform: translateX(16px);
        }

        .logo:hover svg {
            width: 56px; /* Adjust the width to accommodate the separation */
        }


        @media only screen and (min-width: 870px) {
            .nav-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            top: -0.5rem;
            right: 24px;
            padding: 8px;
            box-shadow: none;
            width: auto;
            position: fixed;
            background-color: transparent;
            }

            .nav-menu.active {
            right: 32px;
            display: flex;
            width: auto;
            margin: 8px;
            }

            .nav-item {
            margin: 0;
            width: auto;
            height: 40px;
            }

            .nav-link {
            width: auto;
            height: 40px;
            }
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const hamburger = document.querySelector(".hamburger");
            const navMenu = document.querySelector(".nav-menu");
            
            hamburger.addEventListener("click", mobileMenu);
            
            function mobileMenu() {
                hamburger.classList.toggle("active");
                navMenu.classList.toggle("active");
            }
    
            const navLink = document.querySelectorAll(".nav-link");
            
            navLink.forEach(n => n.addEventListener("click", closeMenu));
            
            function closeMenu() {
                hamburger.classList.remove("active");
                navMenu.classList.remove("active");
            }
        });
    </script>
</Fragment>

<nav class="navbar">
    <a href="/" class="logo">
        <svg aria-label="lilac-colored brain illustration separated in two" width="40" height="40" viewBox="0 0 324 305" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="left" d="M106.917 3.27667C103.347 4.62125 97.1816 6.27142 93.1577 6.88259C82.449 8.47164 74.0768 12.6887 66.029 20.3895C62.1349 24.1176 56.164 28.7014 52.7891 30.535C44.9361 34.8132 39.3546 41.2916 35.9148 50.0925C34.3572 54.0651 30.7876 59.749 27.7372 62.9271C20.8577 70.1389 17.2881 76.6785 15.6007 85.2349C14.8868 88.9019 12.2258 95.6248 9.62979 100.209C5.60591 107.482 5.0218 109.682 4.9569 117.321C4.9569 122.822 3.98338 128.689 2.42575 132.845C-0.819319 141.585 -0.819319 148.247 2.49065 156.62L5.2165 163.343L2.29594 170.738C-1.27363 180.028 -0.559713 187.545 4.9569 197.691C8.13706 203.619 8.91587 206.553 8.91587 212.787C8.91587 226.721 14.3676 236.256 26.569 243.59C31.5015 246.584 33.5784 248.601 33.5784 250.435C33.5784 258.197 45.3255 271.398 56.2938 275.982C59.4091 277.265 64.4714 280.321 67.5217 282.766C73.2331 287.288 84.5908 292.911 87.9656 292.972C89.0041 292.972 92.5087 294.561 95.7538 296.517C112.823 306.724 134.24 306.601 150.725 296.212L156.891 292.361V154.175V15.9891L152.023 11.5886C140.73 1.38204 121.26 -2.16276 106.917 3.27667Z" fill="#E8E2FA"/>
            <path class="right" d="M183.435 3.76585C179.8 5.35489 174.673 8.41075 172.077 10.5499L167.274 14.5225V153.809V293.034L173.44 296.701C189.341 306.235 206.799 306.479 225.945 297.495C232.565 294.378 239.704 291.506 241.781 291.017C243.793 290.528 249.375 287.472 254.047 284.111C258.72 280.749 264.042 277.449 265.859 276.715C276.633 272.315 289.289 259.603 289.289 253.063C289.289 248.479 290.717 246.523 295.779 244.079C307.721 238.334 314.341 227.883 314.211 214.804C314.146 208.142 314.925 205.33 318.624 197.935C323.751 187.668 324.465 178.744 320.831 169.21C318.754 163.771 318.754 163.037 320.831 157.598C323.557 150.508 323.687 139.752 321.155 133.09C320.182 130.34 318.949 124.106 318.494 119.155C317.261 105.037 316.677 102.837 313.043 97.8252C311.161 95.2583 308.824 89.5133 307.851 85.174C305.644 75.273 302.204 68.8557 295.779 62.5606C292.923 59.7492 289.548 54.6154 287.926 50.4594C284.616 42.0863 278.58 35.4246 268.585 28.9461C264.626 26.3792 259.045 21.9788 256.189 19.1674C249.31 12.4445 241.392 8.77746 227.438 5.84383C221.142 4.56037 214.328 2.9102 212.316 2.1768C205.566 -0.267891 190.704 0.526633 183.435 3.76585Z" fill="#AF99F0"/>
            <path class="left" d="M111.125 1.61752C107.488 2.73548 103.917 4.03977 103.19 4.53664C102.462 5.09562 98.296 5.84093 93.9314 6.3378C81.1021 7.64208 68.4711 14.9088 62.0564 24.6599C61.3951 25.5915 58.287 27.4548 55.1788 28.7591C46.9125 32.1751 38.1832 41.8019 35.538 50.373C33.9509 55.5901 31.967 58.6334 27.6685 62.4221C21.0554 68.1982 16.7569 76.3966 15.6327 85.5266C15.1036 89.75 13.3842 93.9113 10.4745 97.9483C5.71309 104.532 3.86143 112.42 5.18405 120.183C5.84535 123.972 5.31631 126.394 3.134 130.369C-0.966106 137.76 -1.03224 149.809 2.9356 157.262C5.58083 162.169 5.64696 163.038 3.99369 166.144C-1.75967 176.578 -1.29676 187.385 5.38244 197.757C9.35028 203.968 9.6148 205.148 8.95349 211.98C7.69701 225.023 15.9633 238.439 28.462 243.718C32.6283 245.519 33.7525 246.637 33.7525 249.183C33.8848 258.562 45.8544 271.791 57.6918 275.58C60.1386 276.387 64.7678 279.182 67.8759 281.915C73.9599 287.07 82.8876 291.48 87.3845 291.542C88.9055 291.542 92.1459 292.97 94.6588 294.771C110.993 306.324 136.057 306.199 152.457 294.461L156.756 291.417V153.225V15.033L151.796 10.4991C141.744 1.30698 124.682 -2.41955 111.125 1.61752ZM135.263 13.9772C145.249 17.89 144.852 16.3373 144.852 50.6835V81.4274L130.303 80.7442L115.755 79.9989V86.0856V92.1722L130.303 91.7375L144.852 91.3027V125.587V159.871H130.303H115.755V155.213C115.755 151.362 116.416 150.182 119.722 148.443C141.016 137.077 121.971 106.271 100.148 116.892C87.1861 123.165 86.7893 142.667 99.5525 148.567L103.785 150.555L103.851 170.74V190.925H109.803H115.755V180.677V170.429H130.303H144.852V227.88V285.269L139.231 288.001C134.999 290.113 131.229 290.796 123.69 290.858L113.771 290.921L113.44 268.313L113.043 245.767L117.143 243.469C130.039 236.389 129.179 218.067 115.755 211.732C107.356 207.757 98.8912 209.372 92.0797 216.266C89.3023 219.061 87.7813 219.495 80.8375 219.495H72.7696L73.0341 201.297L73.2986 183.162L77.7955 180.305C89.699 172.665 89.0377 155.461 76.539 149.126L72.1083 146.89V126.022V105.215H86.9877H101.867L101.536 88.7562L101.14 72.2974L105.372 69.813C118.267 62.1737 118.73 47.7644 106.298 39.0692C98.2299 33.4173 83.8795 36.2122 79.3827 44.3484L77.3326 48.0749H64.1065C56.6998 48.0749 50.9465 47.5781 50.9465 46.8949C50.9465 45.0316 59.6757 39.2555 65.1646 37.5164C68.6034 36.3985 70.9841 34.4731 72.9019 31.1813C77.4649 23.6041 85.2022 19.1322 94.9234 18.5111C100.015 18.2006 105.703 16.8963 109.737 15.033C117.474 11.4928 127.923 11.0581 135.263 13.9772ZM101.206 49.3171C108.282 55.9628 97.8331 66.0244 90.4265 59.6893C85.4667 55.528 88.9055 46.8328 95.4524 46.8328C97.1718 46.8328 99.7509 47.9507 101.206 49.3171ZM79.1181 63.6022C80.3746 66.1486 83.1521 68.8193 85.6651 69.9373L89.9636 71.8626V82.918L90.0297 94.0355H75.018H60.0725L60.2709 120.742L60.5354 147.511L56.1047 150.306C53.5917 151.859 50.8142 154.654 49.8884 156.517L48.1028 159.933L33.3557 159.622L18.6086 159.25L15.5666 154.281C11.5326 147.822 11.9955 138.071 16.5585 132.295C19.4021 128.63 19.5344 127.823 18.2118 121.922C16.294 113.413 18.0795 106.892 24.2297 100.184C28.3298 95.6503 28.8588 94.2839 28.6604 89.1289C28.1975 79.5641 33.0251 71.6142 42.0188 67.2045C44.0027 66.2107 45.9867 64.0369 46.4496 62.36C47.2431 59.2545 47.4415 59.2545 62.0564 59.2545H76.9358L79.1181 63.6022ZM114.167 127.015C120.185 130.99 116.746 139.996 109.141 139.996C101.867 139.996 99.1557 133.102 104.446 128.133C108.216 124.593 110.133 124.345 114.167 127.015ZM71.8438 159.312C77.7294 163.163 74.0922 172.293 66.6856 172.293C59.8741 172.293 56.6337 164.467 61.5274 159.871C64.7016 156.89 67.8759 156.703 71.8438 159.312ZM50.4174 174.715C51.74 176.702 54.7159 179.373 57.1627 180.615L61.6596 182.851L61.2629 206.763L60.8661 230.675H74.0922H87.3183L89.5007 235.644C90.8894 238.749 93.4685 241.544 96.4444 243.221L101.206 245.83V264.959C101.206 283.592 100.611 286.076 97.2379 282.225C96.3121 281.169 94.3282 280.362 92.8072 280.362C87.9135 280.3 76.9358 274.648 72.5712 269.99C70.2566 267.505 67.413 265.456 66.2227 265.456C57.2289 265.456 46.7802 254.897 45.9205 244.898C45.2592 237.445 44.5979 236.637 37.3235 234.464C25.2878 230.799 18.6086 219.061 22.4442 208.129C24.7587 201.546 24.2297 199.496 19.1376 195.273C13.3842 190.428 11.0697 181.174 13.9133 174.218C15.1698 171.05 15.1698 171.05 31.6363 171.05H48.169L50.4174 174.715ZM112.448 222.787C115.755 225.893 114.498 232.041 110.133 234.339C105.901 236.575 102.991 235.457 99.9493 230.364C95.9153 223.657 106.496 217.135 112.448 222.787Z" fill="#AF99F0"/>
            <path class="right" d="M190.317 1.11038C183.12 2.72469 177.508 5.58077 171.896 10.672L166.944 15.1424V153.29V291.437L171.236 294.479C186.95 305.78 210.85 306.338 227.092 295.845C230.789 293.486 234.949 291.561 236.335 291.561C240.693 291.499 249.738 287.029 255.68 281.938C258.783 279.206 263.405 276.412 265.848 275.605C277.666 271.817 289.617 258.592 289.749 249.217C289.749 246.671 290.871 245.554 295.03 243.753C307.509 238.475 315.762 225.064 314.507 212.026C313.847 205.196 314.111 204.016 318.139 197.745C324.873 187.19 325.269 176.759 319.393 166.018C317.809 163.162 317.941 162.168 320.252 157.822C324.477 149.751 324.807 141.865 321.308 133.235C319.129 127.833 318.271 123.053 318.205 115.85C318.073 105.73 316.29 100.514 310.876 94.7402C309.622 93.3742 308.235 89.3384 307.839 85.7373C306.717 76.5482 302.491 68.3525 295.823 62.5161C291.597 58.7908 289.55 55.6864 287.966 50.533C285.457 42.2752 277.402 33.1482 269.479 29.3607C266.442 27.9327 261.16 23.7728 257.661 20.1716C250.134 12.2243 240.627 7.56761 228.941 6.01539C224.253 5.3945 217.188 3.7802 213.161 2.35216C205.436 -0.317656 198.504 -0.690188 190.317 1.11038ZM212.633 14.5215C228.875 21.4755 226.366 41.9647 209.332 41.9647C204.776 41.9647 203.588 42.4615 202.333 45.0692C198.306 53.4512 213.227 55.8105 224.253 48.4841C232.308 43.2065 236.005 35.6317 235.213 26.1942C234.619 18.6194 234.685 18.4952 237.392 19.7991C243.532 22.7793 248.55 27.1255 250.729 31.4097C251.983 33.8932 253.964 36.1905 255.218 36.6251C272.12 41.9027 282.816 55.6243 271.328 57.3007C255.152 59.7842 248.418 77.1691 258.717 89.8972C266.112 99.0243 274.761 92.1945 267.829 82.757C262.217 75.1201 265.848 68.9113 276.874 67.2349C286.183 65.8068 295.493 77.5416 294.832 89.6489C294.568 94.2434 295.163 96.044 297.803 98.7759C303.415 104.55 304.472 106.289 305.66 111.069C307.509 118.955 306.122 122.059 299.85 123.611C281.562 128.206 270.668 148.882 278.789 163.659C283.278 171.854 293.248 169.247 290.013 160.678C286.976 152.917 287.966 145.591 292.654 140.624C296.615 136.34 298.332 135.346 305.066 133.359C312.857 131.062 312.197 154.718 304.274 159.312C302.227 160.492 302.755 165.645 305.132 167.57C313.451 174.027 311.074 198.801 302.557 194.517C291.201 188.805 271.262 194.02 271.262 202.712C271.262 208.425 275.95 209.791 281.826 205.879C293.842 197.869 306.188 206.5 301.435 219.601C298.332 228.169 295.955 230.156 280.505 236.923C279.251 237.482 278.194 240.4 277.732 244.809C276.478 255.115 266.31 265.484 257.331 265.484C256.208 265.484 253.105 267.657 250.53 270.389C246.371 274.735 236.467 280.385 232.968 280.385C227.884 280.385 224.649 270.886 227.818 265.236C230.129 261.138 227.29 256.543 222.734 257.04C214.746 257.909 211.774 274.611 218.179 282.807L220.952 286.346L214.151 289.078C205.568 292.555 192.958 292.12 184.441 288.022L178.829 285.29V252.073V218.793L182.658 213.081C186.751 206.997 194.872 201.781 202.333 200.291C208.473 199.111 210.718 194.393 206.889 190.729C203.323 187.439 195.07 189.239 185.233 195.448L178.829 199.484V131.807V64.0683L183.12 67.4832C195.863 77.6037 215.208 76.1135 209.134 65.4964C208.143 63.6958 206.361 63.0749 202.399 63.0749C193.09 63.0749 184.837 56.3693 180.743 45.5038C177.904 37.929 178.168 20.5441 181.205 17.9985C188.138 12.038 202.993 10.4237 212.633 14.5215Z" fill="#E8E2FA"/>
            <path class="right" d="M223.228 68.5942C206.168 87.7505 209.264 99.1945 232.582 102.74C250.038 105.414 253.002 110.079 248.589 128.115C246.744 135.517 248.457 138.564 253.924 137.942C258.535 137.445 260.709 132.718 261.565 121.336C263.146 102.242 256.23 94.6542 235.019 92.042C221.845 90.4249 221.516 88.9944 231.792 75.6223C238.313 67.1015 230.408 60.571 223.228 68.5942Z" fill="#E8E2FA"/>
            <path class="right" d="M192.604 117.511C185.139 124.539 198.351 140.074 213.612 142.17C221.209 143.218 227.551 148.149 227.551 152.958C227.551 158.568 235.346 160.848 238.517 156.163C243.934 148.026 231.845 134.279 216.981 131.628C208.129 130.087 204.363 127.806 203.174 123.368C201.324 116.525 196.568 113.874 192.604 117.511Z" fill="#E8E2FA"/>
            <path class="right" d="M260.437 157.961C259.584 158.767 258.863 160.751 258.863 162.362C258.863 166.64 254.34 174.265 249.555 178.046L245.425 181.393L240.901 176.372C236.247 171.227 231.986 169.987 228.97 172.839C226.414 175.256 227.135 178.418 231.134 182.757C238.804 191.126 241.426 199.061 238.607 205.446C237.558 207.802 236.509 209.785 236.247 209.785C219.203 209.785 199.864 222.865 199.864 234.396C199.864 241.834 208.583 240.719 212.647 232.784C220.055 218.464 239.853 219.456 246.211 234.458C248.637 240.223 250.079 241.277 254.275 240.285C260.83 238.735 258.47 228.134 249.817 220.2L245.621 216.356L248.375 211.893C250.604 208.359 251.128 205.694 250.866 199.123L250.538 190.816L255.455 187.593C269.352 178.418 275.908 156.473 264.763 156.473C263.256 156.473 261.289 157.155 260.437 157.961Z" fill="#E8E2FA"/>
            </svg>
        <p class="name" style="font-weight: 600;font-size: 1.5rem;color: var(--dark-grey);">sar<span style="color:var(--lilac-4)">a</span> bicudo<span style="color:var(--lilac-4)">.</span>
        </p>
    </a>
    <ul class="nav-menu">
        <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/story/" class="nav-link">Story</a></li>
        <li class="nav-item"><a href="/latest-work/" class="nav-link">Work</a></li>
        <li class="nav-item"><a href="/contact/" class="nav-link">Contact</a></li>
    </ul>
</nav>