---
import LinkedinLogo from "/assets/svg/linkedin.svg?raw"
import BehanceLogo from "/assets/svg/behance.svg?raw"
import InstagramLogo from "/assets/svg/instagram.svg?raw"
import EmailLogo from "/assets/svg/email.svg?raw"
---

<Fragment slot="head">
  <style>
    
    .icon {
      box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.05);
      background: transparent;
    }

    .icon-container {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 10px;
      text-align: center;
      margin: 0 auto;
      transition: border-radius 0.3s;
      background: transparent;
    }

    .icon-container svg {
      width: 24px;
      height: 24px;
      fill: none; /* Inherit color from parent */
      background: transparent;
    }

    .icon-container:hover {
      border-radius: 10px; /* Slightly rounded corners */
      fill: var(--lilac-1); /* Inherit color from parent */
    }

    a {
      text-decoration: none;
    }
  </style>
</Fragment>

<div class="icon-container">
  <a class="icon" href="https://www.linkedin.com/sarabicudo" target="_blank" aria-labelledby="black linkedin logo">
    <Fragment set:html={LinkedinLogo}/>
  </a>
</div>
<div class="icon-container">
  <a class="icon" href="https://www.behance.com/sarabicudo" target="_blank" aria-labelledby="black behance logo">
    <Fragment set:html={BehanceLogo}/>
  </a>
</div>
<div class="icon-container">
  <a class="icon" href="https://www.instagram.com/sara_bicudo" target="_blank" aria-labelledby="black instagram logo">
    <Fragment set:html={InstagramLogo}/>
  </a>
</div>
<div class="icon-container">
  <a class="icon" href="mailto:bicudo.sara@gmail.com" target="_blank" aria-labelledby="black email logo">
    <Fragment set:html={EmailLogo}/>
  </a>
</div>
